* {
    box-sizing: border-box;
}

body {
    background-image: url(img/background_netflix.jpg);
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: gray;
}

img {
    width: 14%;
}

section {
    margin: auto;
    margin-top: 70px;
    padding: 1em 3em 3em;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0;
    padding: 1.3em;
    border-radius: 5px;
    border: none;
}

.inputback {
    background-color: #333;
}

.inputback::placeholder {
    color: lightgray;
}

#submit {
    background-color: red;
    color: white;
    font-weight: bolder;

}

#submit:hover {
    cursor: pointer;
}

label {
    color: lightgrey;
    font-size: 14px;
}

label:hover {
    cursor: pointer;
}

#souvenir:hover {
    cursor: pointer;
}

section p {
    color: gray;

}

section a {
    font-weight: bold;
    color: white;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: gray;
    padding: 1em 5em 2em 10em;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

nav a {
    margin: 0 2em;
    font-size: 13px;
}

nav :first-child {
    margin-left: 0;
}